HF_TOKEN=your_huggingface_token_here


# Konfigurasi Path Dataset (Absolute path di VM)
CPT_LOGS_DIR=/home/root/Atmosfer/atmosfer/data/log
CPT_CLOUD_TELEMETRY_DIR=/home/root/Atmosfer/atmosfer/data/cloud

# (Opsional) Path spesifik untuk dataset sintetik dan reverse engineering
CPT_RE_CORPUS_DIR=/home/root/Atmosfer/atmosfer/data/reverse-engineering
CPT_SYNTHETIC_IR_DIR=/home/root/Atmosfer/atmosfer/data/synthetic-ir
CPT_SYNTHETIC_SOC_DIR=/home/root/Atmosfer/atmosfer/data/synthetic-soc